.landing-container {
  width: 60vw;
}

.landing-logout {
  border: none;
  background-color: #004b8d;
  color: #fff;
  font-size: large;
  padding: 5px 10px;
  cursor: pointer;
}

.landing-logout:hover {
  filter: brightness(1.2);
}

.landing-logout:active {
  filter: brightness(0.8);
}